@import '../variables';

.categories {
  ul {
    display: flex;
    @media (max-width:700px) {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
    }
    @media (max-width:350px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
      gap:15px;
    }
    
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
      @media (max-width:992px) {
        padding: 7px 18px;
      }
      @media (max-width:785px) {
        padding: 7px 10px;
      }
      @media (max-width:700px) {
        text-align: center;
      }
    }
  }
}
